<!DOCTYPE html>
<html lang="{{ craft.app.language[:2] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ systemName }}</title>
    <link rel="stylesheet" href="{{ url('/assets/styles/main.css') }}">
</head>

<body>

<div class="container mx-auto px-4 py-8 max-w-screen-md">
    <div class="mb-6">
        <a class="text-4xl font-semibold" href="{{ siteUrl('/') }}">{{ systemName }}</a>
    </div>

    <h1>{{ entry.title }}</h1>

    {% block content %}
        Your content goes here
    {% endblock %}

</div>

</body>
</html>
